.Card{
    border:1px solid #f2f2f2;
    margin-top: 10px;
    /* height: 100px   ; */
    box-shadow: rgba(0,0,0, 0.295) 1px 5px 5px;
    /* background-color: blue; */
    border-radius: 5px;
    
    
}
